REACT_APP_PUBLIC_API_URL="https://test-frontend-uolpp.web.app/"
REACT_APP_PUBLIC_API_URL_NO_CORS="test-frontend-uolpp.web.app/"
REACT_APP_PUBLIC_CORS_ANYWHERE_URL="https://app-relay-proxy.herokuapp.com/"