#create-user {
  .default-input {
    width: 20% !important;
  }
  .drop-up {
    width: 20% !important;
  }

  button {
    padding: 0.5rem 2.8rem !important;
  }

  button:first-child {
    margin-right: 1.5rem;
  }

  @media (max-width: 1000px) {
    .default-input {
      width: 100% !important;
    }

    .drop-up {
      width: 100% !important;
    }

    .btns {
      display: flex;
      justify-content: center;
    }
  }
}
