.client-container{
    display:flex;
    flex-direction:column;
    width: 80%;

    .head-boxes{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    
        margin-bottom: 3rem;
        font-size: 1.3rem;
    
        .new-client{
            padding: 0.6rem 1rem 0.6rem 1rem;
            border: 1px solid #e29933;
            border-radius: 5px;
            background-color: #e29933;
            color: white;
            font-size: 1rem;
            margin-right: 1.6rem;
            cursor: pointer;
            text-decoration: none;
        }
    
        .head-boxes-title{
            font-weight: 400;
            color: #7a7a7a;
        }
    
        .head-boxes-description{
            font-weight: 300;
            color: #aeadad;
        }
        
    }

    .exibition-length{
        font-size: 1.3rem;
        color: #7a7a7a;
        margin-bottom: 3rem;
    }
};

@media screen and (max-width:916px){
    .client-container{
        .head-boxes{
            font-size: 1rem;
            .new-client{
                padding: 0.6rem 0.8rem 0.6rem 0.8rem;
                font-size: 0.8rem;
            }
        }
    }
}
@media screen and (max-width:623px){
    .client-container{
        .head-boxes{
            font-size: 0.75rem;
            .new-client{
                padding: 0.6rem 0.5rem 0.6rem 0.5rem;
                font-size: 0.7rem;
            }
        }
    }
}
