.container{
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    width: 80%;
    .icon-user{
        font-size: 3rem;
    }

    .head-title{
        font-weight: 400;
        color: #2e2e2e;
        font-size: 2rem;
        margin-left: 1rem;
    }
}