form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    select, .name-user-edit, .email-user-edit, .cpf-user-edit, .phone-user-edit{
        width: 21rem;
        height: 3rem;

        margin-bottom: 1rem;
        font-size: 1.2rem;
        
        border-radius: 5px;
        border: 1px solid #aeadad;
        color: #aeadad;
        padding-left: 1rem;
    }
    input::placeholder{
        font-weight: 100;
        color: #aeadad;
    }
    select{
        color: #aeadad;
        padding: 0rem 0rem 0rem 1rem;
        margin-bottom: 6rem;
    }
    .buttons-container{
        display: flex;
        .create-new-client{
            padding: 1rem 2.5rem 1rem 2.5rem;
            border: 1px solid #e29933;
            border-radius: 8px;
            background-color: #e29933;
            color: white;
            font-size: 1rem;
            cursor: pointer;
        }
        .back{
            padding: 1rem 2.5rem 1rem 2.5rem;
            border: 1px solid #e29933;
            border-radius: 5px;
            background-color: white;
            color: #e29933;
            font-size: 1rem;
            cursor: pointer;
            text-decoration: none;
            margin-left: 2rem;
        }
    }
    
}