.client-panel {
  &-user {
    margin-right: 30px;
  }

  &-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-bottom: 35px;
  }

  &-user {
    width: auto;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-header {
    color: #3C3C3C;
  }

  @media screen and (max-width: 425px) {
    &-user {
      width: 50px;
    }

    &-header {
      font-size: 20px;
    }
  }
}
