.group {
  margin-bottom: 1rem;

  .input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.45rem + 2px);
    padding: 1.25rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    &:focus {
      outline: none;
      border-color: var(--dark);
    }
  }

  .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.813rem;
    color: #dc3545;
  }
}
