.group {
  margin-bottom: 1rem;

  .input {
    display: block;
    width: 100%;
    padding: 1.25rem 0.75rem;
    font-size: 1rem;
    color: var(--dark);
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--light);
    border-radius: 0.25rem;

    &:hover {
      border-color: var(--dark);
    }

    &:focus {
      outline: none;
      border-color: var(--dark);
    }
  }

  .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.813rem;
    color: var(--danger);
  }
}
