body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ocultar{
  position: relative;
}
.header{
  display: flex;
  align-items: center;
  background-color: #333333;
  
}
h1{
color: aliceblue;
align-items: center;
margin-left: auto;
margin-right: auto;
}

.Container{

align-items: center;
margin-top: 5%;
margin-left: 10%;
margin-right: 10%;
font-size: 2rem;


}


.Table {
  border: none;
}
.usuarios{
  font-size: 18px;
  list-style: none;
  margin-bottom: 15px;
  margin-left: -40px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 30px;
  border:solid 2px #e7e7e7;

}

th{
  padding: 10px ;
  padding-left: 17rem;
}
.desc{
  margin-top: -2%;
  color:silver;
  font-size: 1rem;
}
.listagemUsuarios{
  align-items: flex;
}

.Clientes{
  display: grid;
  gap:20px;
  grid-template-columns: 1fr 1fr ;

}
button{
  cursor:pointer;
  border: none;
  padding: 10px 40px;
  color: white;
  background-color: orange;
  transition-duration: 0.4s;
  border-radius: 15px;
}
.novoclientebtn{
  display: grid;
   margin-left: 80%;
  margin-top: -5%;
  
}



.email{
  margin-top: -20px;
}
.telefone{
  margin-top: -20px;
}
.editar{
  content: "";
  background-color: white;
  border:solid;
  color: orange;
  font-size: 20px;
  padding: 10px 34px;
  margin-left: 85%;
}

.editar:hover{
  color:white;
  background-color: orange;
}


hr {
  margin: 10px ;
  margin-left: 0%;
  margin-right: 0%;
  opacity: 10%;
}


.criar{
  
  margin-left: 0%;
  margin-top: 5%;
  font-size: 40px;
}
.voltar{
 font-size: 40px;
 
  margin-left: 20%;
  
}


.Modal{
  position: fixed;
  top:0;
  left: 0;
  margin-top: 6%;
  margin-left: 20%;
  height: 70vh;
  width: 50%;
  background-color: #333333;
  display: none;
 align-items: center;
  z-index: 2000;
  padding: 50px;
  
}
.Modal.ativo{
  display: flex;
}

@keyframes modal{
  from{
    opacity: 0;
    transform: translate3d (0,-30px,0 );
    
}
to{
  opacity: 1;
  transform: translate3d (0,-0,0 );
  -webkit-transform: translate3d (0,-0,0 );
  
}
  
}

.ativo .modal {
  animation: modal .3s forwards;
  
}


.criarbtn{
  margin-top: 15px;
  margin-left: 0px;
  font-size: larger;
  
}
.voltarbtn{
  margin-top: 15px;
  margin-left: 10px;
  font-size: larger;
  
}
.conteudo{
  display: fixed;
  align-items: center;
   padding-left: 20%;
}
input{
  font-size: 30px;
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;  
}

.TituloModal{
  font-size: 50px;
 margin-left: 25%;
 color: aliceblue;
}
.DescModal{
  margin-top: 0%;
  font-size: 30px;
  color: aliceblue;
}